<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @static_content.name %>
</p>

<p>
  <b>Image name:</b>
  <%= image_tag @static_content.image_name.url.to_s %>
  <%= @static_content.image_name %>

</p>

<p>
  <b>Description:</b>
  <%= @static_content.description %>
</p>


<%= link_to 'Edit', edit_static_content_path(@static_content) %> |
<%= link_to 'Back', static_contents_path %>
