<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Bookmarks category</th>
    <th>Item</th>
    <th>Bookmark url</th>
    <th>Title</th>
    <th>I frame</th>
    <th>Image name</th>
    <th>Image name desc</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.bookmarks_category_id %></td>
    <td><%= bookmark.item_id %></td>
    <td><%= bookmark.bookmark_url %></td>
    <td><%= bookmark.title %></td>
    <td><%= bookmark.i_frame %></td>
    <td><%= bookmark.image_name %></td>
    <td><%= bookmark.image_name_desc %></td>
    <td><%= bookmark.description %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
