<% provide(:title, 'About Us') %>





<!-- META DATA -->
<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="What is mywebroom, and the team working on this cool project. Product, Team, Partners, Feedback, About, Press, Contact.">
<% end %>




<!-- (1) HEADER / FOOTER SCRIPT -->
<script>
    $(function() {
        $('.navbar img').css({'margin-left': '20px'});

        $('.footer').css({
            'background-color': '#333333',
            'margin-top': '0px',
            'border-top': 'none',
            'height': '25px'
        });
    });
</script>



<div id="about-us-page">


    <!-- (2) TOP IMAGE -->
    <div id="about-top-image-wrap">
        <div class="about-top-image"></div>
    </div>




    <!-- (3) OUR PRODUCT -->
    <div class="about-our-product">
        <!-- <img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1385837445/about-arrow-2-team-myWebRoom.png" id="about-black-arrow"> -->

        <h2 class="about-heading-black about-our-product-heading">OUR PRODUCT</h2>

        <p id="product-description" class="about-text-black">
            We’ve created an easy and exciting way for you to keep your online life organized and accessible. Your web room is a visual profile of everything you love. It’s a place where you can express yourself through design, bookmark your favorite sites, interact with products and connect with friends, all from one beautiful interface.
        </p>
<!--
        <p class="about-text-black">
            Choose a room, fill it with furniture, organize sites in objects. The birdcage will take you to Twitter, fill the shopping bag with online stores, the music player is ready to rock the room with playlists you made on Spotify. It’s fun, it’s free, it’s time to make your room.
        </p>
 -->
        <hr>

        <p class="text-center about-text-black-bigger about-title-quote-figures about-margin-left-small about-margin-right-small">
            MyWebRoom.com is a visual place where you can access your favorite websites, discover new content, connect with friends and interact with the products you love, all from one beautiful interface.
        </p>

        <div class="about-image-spacing center">
            <%= cl_image_tag("product-desktop-team-myWebRoom.png", :quality => 100, :default_image => "default_image_all.png")%>
        </div>

        <hr>

        <p class="text-center about-text-black-bigger about-title-quote-figures about-margin-left-small about-margin-right-small">
            Choose a room, fill it with furniture, organize sites in objects. Shop, study, book a vacation, listen to music, watch movies and more from the comfort of your private online room.
        </p>

        <div class="about-image-spacing center">
            <%= cl_image_tag("product-bookmarks-objects-team-myWebRoom.png", :quality => 100, :default_image => "default_image_all.png")%>
        </div>

    </div>




    <!-- (4) ABOUT US -->
    <div class="container-fluid about-section about-background-blue">
        <div class="row-fluid">
            <div class="span6">
                <div class="about-us-text about-margin-left">
                    <h2 class="about-heading-white">ABOUT US</h2>
                    <p class="about-text-white">
                        We are a young and driven team that’s creating a web experience like no other. Smart, tech-savvy and design-oriented, we’re working hard to make the internet a fun place where everyone has a stylish and useful platform to express themselves.
                    </p>
                    <p class="about-text-white">
                        Hailing from all over the globe, we’re an international and diverse group of artists, programmers and visionaries that’s staying on top of trends to deliver cool, curated content right to your online room.
                    </p>
                    <p class="about-text-white">
                        You might find us coding, rendering awesome furniture, or chasing our company mascot Roomsy around our loft in San Francisco. We enjoy board games, bowling, beer, and taking turns being the resident DJ for the day.
                    </p>
                </div>
            </div>
            <div class="span6 about-margin-top center">
                <%= cl_image_tag("about-us-team-myWebRoom.png", height: 420, width: 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
            </div>
        </div>
    </div>




     <!-- (5) ROOMS TEAM -->
    <div class="container-fluid about-rooms-team">
        <br>
        <br>
        <h2 class="text-center about-heading-black">ROOMS TEAM</h2>
        <br>
        <ul class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("artem-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-small">
                                "I want to put a ding in the universe."<br>Steve Jobs
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Artem Fedyaev</h4>
                            <h4 class="about-text-blue">Master Mind</h4>
                            <span>
                                <a href="http://www.linkedin.com/in/artemfedyaev/" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/artem" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("john-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-medium">
                                "You must be the change you wish to see in the world."<br>Gandhi
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>John Gonzalez</h4>
                            <h4 class="about-text-blue">El Presidente</h4>
                            <span>
                                <a href="http://www.linkedin.com/in/johnnypreneur" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/john" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                 <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("dasha-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-x-large">
                                "If we are demoralized, sad and only complain, we’ll not solve our problems. You have to have confidence and keep up your efforts - in other words, never give up."<br>Dalai Lama
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Daria Rebenok</h4>
                            <h4 class="about-text-blue">Marketing Wizard</h4>
                            <span>
                                <a href="http://www.linkedin.com/in/drebenok" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/drebenok" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("aubrey-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-small">
                                "Keep the dream alive: Hit the snooze button."<br>Anonymous
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Aubrey Andel</h4>
                            <h4 class="about-text-blue">Editorial Dictator</h4>
                            <span>
                                <a href="http://www.linkedin.com/pub/aubrey-andel/a/a1a/ba" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/aubrey" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </ul>
        <ul class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("millu-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-large">
                                "Random Jottings and drawings and questions, are just as, if not more, interesting than the final piece."<br>Sol Lewitt
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Millu Araya</h4>
                            <h4 class="about-text-blue">Silent Designer</h4>
                            <span>
                                <a href="http://www.linkedin.com/pub/meley-araya/37/9b6/704" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/millu" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("gabriel-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-x-large">
                                "Trust your passion, identify your dreams, and find the courage to share them with others, no matter how many times they call you a fool."<br>Bill Strickland
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Gabriel Vargas</h4>
                            <h4 class="about-text-blue">Capitán AmeriCoder</h4>
                            <span>
                                <a href="http://www.linkedin.com/pub/gabriel-vargas/18/868/34b/" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/gabriel" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                 <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("sara-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-medium">
                                "Nothing in this world can take the place of persistence."<br>Calvin Coolidge
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Sara Neale</h4>
                            <h4 class="about-text-blue">Elite Web Goddess</h4>
                            <span>
                                <a href="http://saratheneale.github.io/" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/saran" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("dave-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-small">
                                "Get the important things right."<br>N.P. Collingwood
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Dave Riddle</h4>
                            <h4 class="about-text-blue">Full-Stack Destroyer of Worlds</h4>
                            <span>
                                <a href="http://www.linkedin.com/in/joyvuudave" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/dave" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </ul>
        <ul class="row-fluid">
            <ul class="thumbnails">
                 <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("nathalie-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-medium">
                                 "All that we see or seem is but a dream within a dream."<br>Edgar Allen Poe
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Nathalie Aguinaldo</h4>
                            <h4 class="about-text-blue">Design Maven</h4>
                            <span>
                                <a href="http://www.linkedin.com/pub/nathalie-aguinaldo/3/13/7a7" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/nathalie" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("dana-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-small">
                                 "Creativity is allowing yourself to make mistakes. Art is knowing
                                 which ones to keep."<br>Scott Adams
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Dana Johnson</h4>
                            <h4 class="about-text-blue">Social Media Artist</h4>
                            <span>
                                <a href="http://www.linkedin.com/pub/dana-johnson/69/a83/381" target="_blank"><%= cl_image_tag("linkedin-about-icon.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                            <span>
                                <a href="/room/dana" target="_blank"><%= cl_image_tag("mywebroom-icon-logo-team.png", height: 28, width: 28, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%></a>
                            </span>
                        </div>
                    </div>
                </li>
                 <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <div class="about-background"></div>
                            <div class="about-individual-picture">
                                <%= cl_image_tag("roomsy-team-myWebRoom.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <p class="about-quote about-quote-large-plus">
                                "What makes us human, I think, is an ability to ask questions, a consequence of our sophisticated spoken language."<br>Jane Goodall
                            </p>
                        </div>
                        <div class="caption text-center">
                            <h4>Roomsy</h4>
                            <h4 class="about-text-blue">Mascot</h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail about-thumbnail">
                        <div class="about-wrapper">
                            <a href="#join-the-team-section">
                                <div class="about-individual-picture">
                                    <%= cl_image_tag("default-profile.png", height: 250, width: 250, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                                </div>
                            </a>
                        </div>
                        <div class="caption text-center">
                            <h4>This could be You</h4>
                            <h4 class="about-text-blue">Join the Team</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </ul>
    </div>




    <!-- (6) JOIN THE TEAM -->
    <div id="join-the-team-section" class="container-fluid about-section about-background-gray">
        <div class="row-fluid">
            <div class="about-margin-top">
                <div class="span6 center">
                <%= cl_image_tag("join-us-team-myWebRoom.png", height: 420, width: 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                </div>
                <div class="span6">
                    <div class="about-join-team about-margin-right">
                        <h2 class="about-heading-black">JOIN THE TEAM</h2>
                        <p class="about-text-black">
                            Want to be part of the Rooms team? We’re always looking for talented and motivated Roommates who are ready to step into a pair of house slippers. You can get in touch with us at hr@mywebroom.com.
                        </p>
                        <p class="about-text-black">
                            Here are some of the positions we have open now:
                        </p>
                        <ul class="about-text-black">
                            <li>Full Stack Engineer</li>
                            <li>Front-end Engineer</li>
                            <li>Graphic Designer</li>
                            <li>Interior Designer</li>
                        </ul>
                        <br>
                        <p class="about-text-black">
                            SUBMIT YOUR RESUME
                        </p>
                        <div class="media">
                            <a class="pull-left" href="mailto:hr@mywebroom.com">
                                <img class="media-object" src="<%= cloudinary_url('email.png') %>">
                            </a>
                            <div class="media-body">
                                <div class="about-text-black about-feedback-send-email">hr@mywebroom.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- (7) PARTNERS -->
    <div class="container-fluid about-section-partners about-background-blue">
        <div class="row-fluid">
            <div class="span6">
                <div class="about-partners about-margin-left">
                    <h2 class="about-heading-white padding-left-small">PARTNERS</h2>
                    <p class="about-text-white padding-left-small about-partners-text">
                        We’re excited to have so many cool partners on board and we’re always open to new business opportunities. Let’s see how we can help each other out! If you’re interested in doing business with Rooms, please contact us at <a href="mailto:partners@mywebroom.com">partners@mywebroom.com</a>.
                    </p>
                    <br>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span4">
                                <%= cl_image_tag("pure-modern.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                 <%= cl_image_tag("allmodern.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                <%= cl_image_tag("apt2b.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 padding-top-small padding-bottom-small">
                                <%= cl_image_tag("roomandboard.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4 padding-top-small padding-bottom-small">
                                 <%= cl_image_tag("sfdesigncenter.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4 padding-top-small padding-bottom-small">
                                <%= cl_image_tag("sony.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <%= cl_image_tag("wayfair.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                 <%= cl_image_tag("urbanoutfitters.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                <a href="mailto:partners@mywebroom.com">
                                    <%= cl_image_tag("jointeam.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-margin-top-partners">
                <div class="span6 center">
                    <%= cl_image_tag("partners-team-myWebRoom.png", height: 420, width: 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                </div>
            </div>
        </div>
    </div>




    <!-- (8) FEEDBACK -->
    <div class="container-fluid about-section">
        <div class="row-fluid">
            <div class="about-margin-top">
                <div class="span6 center">
                    <%= cl_image_tag("feedback-team-myWebRoom.png", height: 420, width: 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                </div>
                <div class="span6">
                    <div class="about-feedback about-margin-right">
                        <h2 class="about-heading-black">FEEDBACK</h2>
                        <p class="about-text-black">
                            This website is for you, so we want to hear your opinions about how we can improve your experience on myWebRoom.com to make it the best place to be online. Have a great idea for a new room design, think your favorite site should be added to Rooms so everyone can discover it? Let us know!
                        </p>
                        <br>
                        <p class="about-text-black">
                            SEND FEEDBACK
                        </p>
                        <div class="media">
                            <a class="pull-left" href="mailto:info@mywebroom.com">
                                <img class="media-object" src="<%= cloudinary_url('email.png') %>">
                            </a>
                            <div class="media-body">
                                <div class="about-text-black about-feedback-send-email">info@mywebroom.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- (9) PRESS -->
    <div class="container-fluid about-section about-background-gray">
        <div class="row-fluid">
            <div class="span6">
                <div class="about-press about-margin-left">
                    <h2 class="about-heading-black padding-left-small">PRESS</h2>
                    <p class="about-text-black padding-left-small about-partners-text">
                        The news about myWebRoom.com is spreading! We’ve been featured on tech, startup, and interior design sites. Here are a few of the places we have been featured so you can see and share the love.
                    </p>
                    <br>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span4">
                                <%= cl_image_tag("bloomberg.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                 <%= cl_image_tag("inc.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                <%= cl_image_tag("killerstartups.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4 padding-top-small padding-bottom-small">
                                <%= cl_image_tag("pandodaily.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4 padding-top-small padding-bottom-small">
                                 <%= cl_image_tag("techcocktail.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4 padding-top-small padding-bottom-small">
                                <%= cl_image_tag("techcrunch.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <%= cl_image_tag("tumblr.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                 <%= cl_image_tag("venturebeat.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                            <div class="span4">
                                <%= cl_image_tag("techvista.png", width: 180, height: 100, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6 center">
                <div class="about-margin-top">
                    <%= cl_image_tag("press-team-myWebRoom.png", :height => 420, :width => 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png") %>
                </div>
            </div>
        </div>
    </div>




    <!-- (10) CONTACT US -->
    <div class="container-fluid about-section about-background-blue">
        <div class="row-fluid about-margin-top">
            <div class="span6 center">
                <%= cl_image_tag("contact-us-team-myWebRoom.png", height: 420, width: 420, :crop => :fit, :quality => 80, :default_image => "default_image_all.png")%>
            </div>
            <div class="span6">
                <div class="about-margin-right">
                    <h2 class="about-heading-white">CONTACT US</h2>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="media">
                                <a class="pull-left" href="mailto:info@mywebroom.com">
                                    <img class="media-object" src="<%= cloudinary_url('email-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">EMAIL</h4>
                                    <div class="about-text-white-social">info@mywebroom.com</div>
                                </div>
                            </div>


                            <div class="media">
                                <a class="pull-left" href="http://facebook.com/myWebRoom">
                                    <img class="media-object" src="<%= cloudinary_url('facebook-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">FACEBOOK</h4>
                                    <div class="about-text-white-social">facebook.com/myWebRoom</div>
                                </div>
                            </div>


                            <div class="media">
                                <a class="pull-left" href="http://twitter.com/roomsInc">
                                    <img class="media-object" src="<%= cloudinary_url('twitter-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">TWITTER</h4>
                                    <div class="about-text-white-social">twitter.com/roomsInc</div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">

                            <div class="media">
                                <a class="pull-left" href="http://pinterest.com/myWebRoom">
                                    <img class="media-object" src="<%= cloudinary_url('pinterest-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">PINTEREST</h4>
                                    <div class="about-text-white-social">pinterest.com/myWebRoom</div>
                                </div>
                            </div>


                            <div class="media">
                                <a class="pull-left" href="http://linkedin.com/myWebRoom">
                                    <img class="media-object" src="<%= cloudinary_url('linkedin-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">LINKEDIN</h4>
                                    <div class="about-text-white-social">linkedin.com/myWebRoom</div>
                                </div>
                            </div>


                            <div class="media">
                                <a class="pull-left" href="http://instagram.com/myWebRoom">
                                    <img class="media-object" src="<%= cloudinary_url('instagram-icon-team-myWebRoom.png') %>">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading about-heading-white-social">INSTAGRAM</h4>
                                    <div class="about-text-white-social">instagram.com/myWebRoom</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <hr>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <h3 class="about-heading-white-social">ADDRESS</h3>
                            <address class="about-text-white-social">
                                340 6th St. Unit 303<br>
                                San Francisco, CA 94103<br>
                                <br>
                                Phone: (201) 336-4186
                            </address>
                        </div>
                        <div class="span6">
                            <!-- EMPTY SPACE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- (11) SIGN UP -->
    <div class="center about-background-black get-started-button">
        <br>
        <br>
        <% if signed_in? %>
            <%= link_to "GO TO MY ROOM", room_rooms_path(current_user.username), :id => "about-signup-button" %>
        <% else %>
            <%= link_to "GET STARTED", xroom_rooms_path, :id => "about-signup-button" %>
        <% end %>
    </div>


</div>
