<% provide(:title, 'Help Page | How to use your webroom | myWebRoom') %>




<!-- META DATA -->
<% content_for :head do %>
    <meta name="description" content="Learn how to use your webroom. Every unique feature explained on this page!">
<% end %>




<div id="help-page" class="row-fluid">

    <!-- AFFIX -->
    <div class="span4 help-page-fixed-menu">
        <ul class="nav nav-list" data-spy="affix">
            <li class="nav-header">DECORATE</li>
            <li>
                <!-- 1.1 -->
                <a href="#change_objects">Change Objects</a>
            </li>
            <li>
                <!-- 1.2 -->
                <a href="#change_theme">Change Theme</a>
            </li>
            <li>
                <!-- 1.3 -->
                <a href="#change_bundle">Change Bundle</a>
            </li>
            <li>
                <!-- 1.4 -->
                <a href="#save_and_cancel_changes">Save &amp; Cancel Changes</a>
            </li>
            <li>
                <!-- 1.5 -->
                <a href="#add_and_remove_objects">Add &amp; Remove Objects</a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">ORGANIZE</li>
            <li>
                <!-- 2.1 -->
                <a href="#discover_bookmarks">Discover Bookmarks</a>
            </li>
            <li>
                <!-- 2.2 -->
                <a href="#add_and_create_bookmarks">Add &amp; Create Bookmarks</a>
            </li>
            <li>
                <!-- 2.3 -->
                <a href="#delete_bookmarks">Delete Bookmark</a>
            </li>
            <li>
                <!-- 2.4 -->
                <a href="#active_sites">Active Sites</a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">SHARE</li>
            <li>
                <!-- 3.1 -->
                <a href="#key_requests">Key Requests</a>
            </li>
            <li>
                <!-- 3.2 -->
                <a href="#friends_room">Friend's Room</a>
            </li>
            <li>
                <!-- 3.3 -->
                <a href="#upload_your_photos">Upload Your Photos</a>
            </li>
             <li>
                <!-- 3.4 -->
                <a href="#share_objects">Share Objects</a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">PROFILE SETTINGS</li>
            <li>
                <!-- 4.1 -->
                <a href="#change_username_or_password">Change Username or Password</a>
            </li>
            <li>
                <!-- 4.2 -->
                <a href="#edit_profile_information">Edit Profile Information</a>
            </li>
            <li>
                <!-- 4.3 -->
                <a href="#change_photo">Change Profile Picture</a>
            </li>
             <li>
                <!-- 4.4 -->
                <a href="#add_delete_photo">Delete Photo</a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">FAQ</li>
            <li>
                <!-- 5 -->
                <a href="#faq">Frequently Asked Questions</a>
            </li>
        </ul>
    </div>




<!-- MAIN -->
    <div class="span8 help-page-main-top-margin">


        <div class="help-page-top-button">
            <a href="#top"> <!-- THIS IS MAGIC! THERE'S NO ELEMENT WITH ID #top! -->
                <%= cl_image_tag("back-to-top-arrow-help-page-mywebroom.png", :quality => 100, :default_image => "default_image_all.png")%>
            </a>
        </div>


<!-- PAGE 1 -->
        <h1>1. Decorate</h1>

<!-- 1.1 -->
        <h3 id="change_objects" >A. Change Objects</h3>

        <p>
            1.&nbsp;&nbsp;On the toolbar click the <em>Editor</em> button represented by the chair icon.
            <br>
            2.&nbsp;&nbsp;Choose the object you want to change and click on it.
            <br>
            3.&nbsp;&nbsp;Choose the object you want to preview. If you can't find one you like,
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use the filters to help you find one.
            <br>
        </p>
          <br>

        <div>
            <%= cl_image_tag("change-objects-help-page-1-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-objects-help-page-2-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-objects-help-page-3-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 1.2 -->
        <h3 id="change_theme">B. Change Theme</h3>

        <p>
            1.&nbsp;&nbsp;On the toolbar click the <em>Editor</em> button represented by the chair icon.
            <br>
            2.&nbsp;&nbsp;Click on the <em>Theme</em> tab
            <br>
            3.&nbsp;&nbsp;Choose the theme you want to preview.
            <br>
        </p>
          <br>

        <div>
            <%= cl_image_tag("change-objects-help-page-1-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-theme-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 1.3 -->
        <h3 id="change_bundle">C. Change Bundle</h3>

        <p>
            1.&nbsp;&nbsp;On the toolbar click the <em>Editor</em> button represented by the chair icon.
            <br>
            2.&nbsp;&nbsp;Select the <em>Bundles</em> tab.
            <br>
            3.&nbsp;&nbsp;Choose the Bundle you'd like to preview.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>*Note: This option will change all of the objects in your room as well.</em>
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("change-objects-help-page-1-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-bundle-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 1.4 -->
        <h3 id="save_and_cancel_changes">D. Save and Cancel Changes</h3>

<!-- 1.4.1 -->
        <h5>Save Changes</h5>

        <p>
            1.&nbsp;&nbsp;After you have selected your objects, click on <em>Save Design</em> to keep all changes
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made to your room.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("save-changes-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 1.4.2 -->
        <h5>Cancel Changes</h5>

        <p>
            1.&nbsp;&nbsp;Click <em>Cancel Changes</em> button if you don't want to keep any changes made to your room.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>*Note: You can change multiple objects and save all the changes once you are<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finished updating your room.</em>
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("cancel-changes-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 1.5 -->
        <h3 id="add_and_remove_objects">E. Add and Remove Objects</h3>

<!-- 1.5.1 -->
        <h5>Remove Object</h5>

        <p>
            1.&nbsp;&nbsp;Click the <em>Editor</em> button on the toolbar and select an object you want to remove.
            <br>
            2.&nbsp;&nbsp;Then Click the <em>Remove Object</em> button.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>*Note: Removing this object does not delete its contents. All your bookmarks will be restored
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if you decide to add the object back later.</em>
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("remove-object-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 1.5.2 -->
        <h5>Add Object</h5>

        <p>
            1.&nbsp;&nbsp;To add the object back, click on the <em>Editor</em> button and the deleted object will appear
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;grayed out with a plus sign.
            <br>
            2.&nbsp;&nbsp;Click on the object you would like to add and then click <em>Save Design</em>.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("add-object-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 2 -->
        <br>

        <h1>2. Organize</h1>

<!-- 2.1 -->
        <h3 id="discover_bookmarks">A. Discover Bookmarks</h3>

        <p>
            1.&nbsp;&nbsp;Click on any object to open up the bookmark interface.
            <br>
            2.&nbsp;&nbsp;Click on <em>Discover</em> to view all the available sites for the category (click to preview site).
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("discover-bookmarks-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("discover-bookmarks-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 2.2 -->
        <h3 id="add_and_create_bookmarks">B. Add Bookmarks</h3>

        <h5>Add a Bookmark</h5>

        <p>
            1.&nbsp;&nbsp;Click on the plus (add icon) on top right corner to save bookmarks to your selected
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;category. A checkmark icon signifies that it has been added.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("add-create-bookmarks-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <h5>Create a Bookmark</h5>

        <p>
            1.&nbsp;&nbsp;If you can't find a site in our library, you have the option to add your own bookmark.
            <br>
            2.&nbsp;&nbsp;Add the URL and a name for the site and click save.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("add-create-bookmarks-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 2.3 -->
        <h3 id="delete_bookmarks">C. Delete Bookmarks</h3>

        <p>
            1.&nbsp;&nbsp;Go to <em>My Bookmarks</em> tab. To delete a bookmark click on the trashcan
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; button on the top right corner.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("delete-bookmarks-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 2.4 -->
        <h3 id="active_sites">D. Active Sites</h3>

        <p>
            1.&nbsp;&nbsp;To view all your active sites click on the star icon on your toolbar.
            <br>
        </p>

        <br>

        <div>
            <%= cl_image_tag("active-bookmarks-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 3 -->
        <br>

        <h1>3. Share</h1>


<!-- 3.1 -->
        <h3 id="key_requests">A. Key Requests</h3>

        <p>
            1.&nbsp;&nbsp;Click on the social icon on the toolbar to open up the social interface.
            <br>
            2.&nbsp;&nbsp;Click on the <em>Key Request</em> tab.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>*Note: You will get a red notification when you have a key request pending.</em>
            <br>
        </p>

        <br>

        <div>
            <%= cl_image_tag("key-request-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("key-request-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 3.2 -->
        <h3 id="friends_room">B. Your Friend's Room</h3>

<!-- 3.2.1 -->
        <h5>View Room</h5>

        <p>
            1.&nbsp;&nbsp;Click on the gear icon and then <em>View Room</em> to checkout your friend's room.
            <br>
        </p>

        <br>

        <div>
            <%= cl_image_tag("friend-room-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("friend-room-1-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 3.2.2 -->
        <h5>View profile info and photos</h5>

        <p>
            1.&nbsp;&nbsp;In the friends tab, click on your friend's name or picture to open up their profile page.
            <br>
            2.&nbsp;&nbsp;View their photos.
            <br>
        </p>

        <br>

        <div>
            <%= cl_image_tag("friend-room-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("friend-room-3-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 3.3 -->
        <h3 id="upload_your_photos">C. Upload your photos</h3>

        <p>
            1.&nbsp;&nbsp;Open the photo page on your social tab.
            <br>
            2.&nbsp;&nbsp;Click on the plus sign to upload photos or click on the upload photo button.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("friend-room-4-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("friend-room-5-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 3.4 -->
        <h3 id="share_objects">D. Share Objects</h3>

        <p>
            1.&nbsp;&nbsp;Click the gear icon to view your friend's room.
            <br>
            2.&nbsp;&nbsp;From this view you are able to try some of the objects your friend has in your room.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>*Note: You can share objects through Social Media by using the "Share" and "Pin" buttons.</em>
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("share-objects-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 4 -->
        <br>

        <h1>4. Profile Settings</h1>

<!-- 4.1 -->
        <h3 id="change_username_or_password">A. Change Username or Password</h3>

        <p>
            1.&nbsp;&nbsp;Click the drop-down arrow on your toolbar next to your username.
            <br>
            2.&nbsp;&nbsp;Click on <em>Account Settings</em>.
            <br>
            3.&nbsp;&nbsp;Here you can change your username, password, and email.
            <br>
            2.&nbsp;&nbsp;Once you are done click <em>Save Changes</em>.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("change-username-password-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-username-password-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>


<!-- 4.2 -->
        <h3 id="edit_profile_information">B. Edit Profile Information</h3>

        <p>
            1.&nbsp;&nbsp;Click the drop-down arrow on your toolbar next to your username.
            <br>
            2.&nbsp;&nbsp;Click the Profile Tab to change your user information.
            <br>
            3.&nbsp;&nbsp;Once you are done click <em>Save Changes</em>.
            <br>
        </p>

          <br>

        <div>
            <%= cl_image_tag("edit-profile-information-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>



<!-- 4.3 -->
        <h3 id="change_photo">C. Change Profile Picture</h3>

        <p>
            1.&nbsp;&nbsp;Click the drop-down arrow on your toolbar next to your username.
            <br>
            2.&nbsp;&nbsp;Click the Profile Tab.
            <br>
            3.&nbsp;&nbsp;Click the <em>Edit your Profile Picture</em> link.
            <br>
            4.&nbsp;&nbsp;Enter a name and click <em>Browse...</em> to select the photo to upload.
            <br>
            5.&nbsp;&nbsp;Once you are done click <em>Upload Photo</em>.
            <br>
        </p>

        <br>

        <div>
            <%= cl_image_tag("change-photo-1-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

        <div>
            <%= cl_image_tag("change-photo-3-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 4.4 -->
        <h3 id="add_delete_photo">D. Delete Photo</h3>

        <p>
            1.&nbsp;&nbsp;Click the drop-down arrow on your toolbar next to your username.
            <br>
            2.&nbsp;&nbsp;Click the Profile Tab.
            <br>
            3.&nbsp;&nbsp;Click the <em>Edit your Profile Picture</em> link.
            <br>
            4.&nbsp;&nbsp; Rollover the image you want to delete and click on the pencil <em>Edit Icon</em>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; then click delete. You can also set older photos as Profile Pictures here.
        </p>

        <br>

        <div>
            <%= cl_image_tag("change-photo-2-help-page-mywebroom.jpg", width: 640, :crop => :fit, :quality => 50,:default_image => "default_image_all.png")%>
        </div>

        <br>

<!-- 5 -->
        <br>
        <h1 id="faq">Frequently Asked Questions</h1>
        <h3>Help Center</h3>

        <br>

        <p>
            <div class="text-info">Q.&nbsp;&nbsp;What is myWebRoom? </div>
            <br>
            <div>
                A.&nbsp;&nbsp;MyWebRoom is a fun way to take control of your online life. The internet can be overwhelming, so we’ve created an intuitive and interactive place for you to explore the web, organize sites, discover new content, shop, watch TV, listen to music, connect with friends and more. Your online room is a visual profile of everything you love and it’s where you can show off your personality and style.
                <!-- Click the social icon, then click the <em>Friends</em> or <em>Key Requests</em> tab. You can then click the blue <em>Invite Friends with Facebook</em> button -->
            </div>
        </p>

        <br>

          <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Who is myWebRoom for?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;MyWebRoom is for everyone! In particular people that like art and visuals. Our platform allows people to create their own place on the web using real products which becomes your profile in our network, so we have seen a big interest coming from Artists, Creatives, Interior Desingers and people looking for a beautiful web experience.
            </div>
        </p>

        <br>

        <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Is it free? Do I need to pay for this service?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;It is completely FREE to use myWebRoom, so start enjoying your Room now!
            </div>
        </p>

        <br>

        <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;What does myWebRoom do?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;MyWebRoom provides a beautiful way for you to interact with the web by organizing your favorite sites and apps in furniture and objects inside a custom online room. You can share items from your room on your social sites, store files, shop for furniture and objects, and invite friends to check out your place. MyWebRoom also curates hand-picked products and the hottest sites so you can stay on top of trends from all over the world. It’s a simple way to connect with services, brands, products and people.
            </div>
        </p>

        <br>

        <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Why the Room interface?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;We use a room as a visual profile because we all have some sort of space where we feel at home. Your room is a place where you can relax, catch up with what’s going on in the news and entertainment world, study, work, shop the latest trends and chat with friends. Your room is where you display the objects and decor style that defines who you are. The type of art you like, your favorite brands, your hometown sports teams, mementos that bring back memories. Your room represents who you are and it’s filled with everything that matters to you.
            </div>
        </p>

        <br>

        <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;How do I access my bookmarks?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;When you click on an object, your bookmarks stored within that object will open. You can also click star on the top screen toolbar to view and access all of your open/active bookmarks.
            </div>
        </p>

        <br>

        <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;How do I check out my friend’s room?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;First you need to send your friend a key request. Click the social icon on your toolbar, then click Requests on the left side of your screen. Once they have accepted your request, you can search for your friend in the Search box on the upper left part of the screen, or click the social icon, then click on Friends. Click their name. You are now in your friend’s room!
            </div>
        </p>

        <br>

          <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;What can I see in my friends room?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;You can see your friend’s photos, objects, bookmarks and recent activity. If you like their funky furniture or come across a fun site in their room, you can add it to your room!
            </div>
        </p>

        <br>

          <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Can I message my friend in my room?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;Not yet, but it will be an upcoming feature! We will be coming out with a lot of cool features in the future so sit back and enjoy the ride.
            </div>
        </p>

        <br>

          <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Can I move objects around?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;How to use my webroom is almost entirely up to you, but sometimes it looks funny when a bunch of bananas are hanging from the ceiling. We love crazy rooms, but we also want your webroom to be easy and intuitive to use, so we’ve placed objects in a logical fashion so you don’t have to search all over your room every time you want to access your favorite sites and apps.
            </div>
        </p>

        <br>

          <p>
            <div class="text-info">
                Q.&nbsp;&nbsp;Why do some websites open in a separate tab?
            </div>
            <br>
            <div>
                A.&nbsp;&nbsp;Our technology aims to keep most sites within our platform, allowing you to stay in your webroom while you access the web from one place. We’ve manipulated a powerful tool to ensure one of the most private and visual browsing experiences on the internet today. That said, the sites that open in a separate tab, are companies that have their own privacy policies.
            </div>
        </p>

        <br>

    </div>

</div>


