<% provide(:title, 'myWebRoom Virtual Room') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="A virtual place to Express, Organize, Discover, Share and Create.">
<% end %>

<link href='//fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
<style>

  html,body{height:100%;}
  body{
    padding-top: 0;
  }
   /* keep full widget on smaller screens */
  @media (max-width: 767px) {
    body {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>

<div id="toolbar_overlay">
  <div id="landing_logo">

      <% if signed_in? %>
        <a href="<%=room_rooms_path(current_user.username)%>"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384904370/mywebroomlogo365x64.png"></a>
      <%else%>
         <a href="<%=root_path%>"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384904370/mywebroomlogo365x64.png"></a>
      <%end%>

  </div>

  <div class="landing_header">

    <ul class="pull-right" >


              <li><%= link_to 'ABOUT US',about_path %>  </li>
              <li><%= link_to 'BLOG', "http://blog.mywebroom.com" %>      </li>
              <li><%= link_to 'SHOP',shop_index_path %> </li>

              <li class="landing_login"> <%= link_to_function "LOGIN", "javascript:login_lightbox_show()",:class => "gray_button_light gray_button", :id => "login_btn"%></li>
              <li><%= link_to "SIGN UP", xroom_rooms_path , :id =>"signup_btn" %></li>
    </ul>

  </div>
</div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <!-- 1.-->
    <div class="active item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384971399/landing-page-industrial-blur-center.jpg');">
        <div class="container">
          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >EXPRESS</p>
            <p class="landing_text_3 uppercase">Style &nbsp;  &#183; &nbsp;  Personality &nbsp;  &#183; &nbsp;  Interests</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="<%=xroom_rooms_path%>"> <span class="link_spanner"></span></a>
            </div>
            <div class="landing_play_video">
              <a href="javascript:playVideoLightbox();"><span class="link_spanner"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1385521275/landing-page-organize-blue-blue.jpg');">
        <div class="container">

          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >ORGANIZE</p>
            <p class="landing_text_3 uppercase">Bookmarks &nbsp;  &#183; &nbsp;  Ideas &nbsp;  &#183; &nbsp;  Activities</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="<%=xroom_rooms_path%>"> <span class="link_spanner"></span></a>
            </div>

             <div class="landing_play_video">
              <a href="javascript:playVideoLightbox();"><span class="link_spanner"></span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- 3-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384975885/landing-page-paris-blur-center.jpg');">
        <div class="container">

          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >DISCOVER</p>
            <p class="landing_text_3 uppercase">Trends &nbsp;  &#183; &nbsp;  Sites &nbsp;  &#183; &nbsp;  Stores</p><br>
           <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="<%=xroom_rooms_path%>"> <span class="link_spanner"></span></a>
            </div>
            <div class="landing_play_video">
              <a href="javascript:playVideoLightbox();"><span class="link_spanner"></span></a>
            </div>


          </div>

        </div>
      </div>
    </div>
    <!-- 4-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384975868/landing-page-urban-blur-center.jpg');">
        <div class="container">

          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >SHARE</p>
            <p class="landing_text_3 uppercase">Products &nbsp;  &#183; &nbsp;  Content &nbsp;  &#183; &nbsp;  Designs</p><br>
           <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="<%=xroom_rooms_path%>"> <span class="link_spanner"></span></a>
            </div>
             <div class="landing_play_video">
              <a href="javascript:playVideoLightbox();"><span class="link_spanner"></span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- 5-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1386007716/artsy-room-blur.jpg');">
        <div class="container">

          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >CREATE</p>
            <p class="landing_text_3 ">A HOME ON THE WEB</p><br>

            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="<%=xroom_rooms_path%>"> <span class="link_spanner"></span></a>
            </div>

            <div class="landing_play_video">
              <a href="javascript:playVideoLightbox();"><span class="link_spanner"></span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="pull-center">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384913522/white-left-arrow.png"></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384913533/white-right-arrow.png"></a>
  </div>
</div>

<div class="landing_copyright">
  <span>&#169; Copyright 2014 Rooms Inc.</span>
</div>

  <script type="text/javascript">
  $('.landing_page_view').removeClass('hidden');
  $('.carousel').carousel()
  </script>


  <script type="text/javascript">
    $(document).ready(function() {
      $('body').on("mousewheel", function(event) {
        if(event.deltaY) {
          event.preventDefault();
          event.stopPropagation();
        }
      });
    });
  </script>





