<% provide(:title, 'myWebRoom Virtual Room') %>
<link href='//fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
<style>
html,body{height:100%;}
body{
  padding-top: 0;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}
#toolbar_overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120px;
  z-index:1;

  /*Gradient*/
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#landing_logo{
  position:fixed;
  z-index:1;
  top:20px;
  left:35px;
}

#landing_logo img{
  width:250px;
}

.landing_slide_content{
  width:900px;
  height:480px;
  padding-top:20px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-265px;
  margin-left:-450px;
/*  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;*/

  font-family:"Open Sans",sans-serif;
  color:white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,.4);
}
.landing_text_1{
  font-family:Georgia,serif;
  font-size:50px;
  color:white;
}
.landing_text_2{
  
  font-size:100px;
  font-weight:800;
  text-transform: uppercase;
  color:white;
}
.landing_text_3{
  font-size:25px;
  font-weight:400;
  text-shadow: 2px 2px 4px rgba(0,0,0,.8);
  
}

.landing_get_started{
  width:450px;
  font-size: 30px;
  margin:10px auto;
  padding:25px 0;
  position:relative;
}
.landing_get_started .link_spanner{
  margin:auto;
}
.landing_copyright{
  width:200px;
  position:fixed;
  bottom:10px;
  left:50%;
  margin-left:-100px;

  text-align:center;
  font-family: "Open Sans",sans-serif;
  font-weight:400;
  font-size:14px;
  color:black;
}
.landing_header{
  position:fixed;
  right:20px;
  top:30px;
}
.landing_header li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px
}
.landing_header li a{
  color:black;
  font-size:14px;

}
li.landing_login{
  padding:0;
}
.landing_header #login_btn,.landing_header #signup_btn{
  -webkit-box-shadow: 2px 2px 3px rgba(112,112,112,0.15);
  -moz-box-shadow: 2px 2px 3px rgba(112,112,112,0..15);
  box-shadow: 2px 2px 3px rgba(112,112,112,0.15);
}
.landing_header #signup_btn{
  margin:0;
}
.landing_page_view .carousel-control{
  width:auto;
  height:auto;
  border:none;
  background:none;
  border-radius: 0;
  opacity:1;
}
.landing_play_video{
  width:50px;
  height:50px;
  position:relative;
  background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384978096/play-button-default.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  margin:10px auto;
  padding-top:10px;
}
.landing_play_video:hover{
  background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384976417/play-button.png');

}
/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .landing_header{
    top: 80px;
    left: 15px;
    right: auto;
  }
}
</style>
<div id="toolbar_overlay">
  <div id="landing_logo">
    <img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384904370/mywebroomlogo365x64.png">

  </div>

  <div class="landing_header">
    
    <ul class="pull-right" >


              <li><%= link_to 'ABOUT US',about_path %>  </li>
              <li><%= link_to 'BLOG', "http://blog.mywebroom.com" %>      </li>
              <li><%= link_to 'SHOP',shop_index_path %> </li>
              
              <li class="landing_login"> <%= link_to_function "LOGIN", "javascript:login_lightbox_show()",:class => "grey_button_light grey_button", :id => "login_btn"%></li>
              <li><%= link_to "SIGN UP", xroom_rooms_path , :id =>"signup_btn" %></li>
    </ul>
  
  </div>
</div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <!-- 1.-->
    <div class="active item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384971399/landing-page-industrial-blur-center.jpg');">
        <div class="container">
          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >EXPRESS</p>
            <p class="landing_text_3 uppercase">Style &nbsp;  &#183; &nbsp;  Personality &nbsp;  &#183; &nbsp;  Interests</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="/xroom"> <span class="link_spanner"></span></a>
            </div>
            <div class="landing_play_video">
              <a href="#"><span class="link_spanner"><span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2-->
    <div class="item">
      <div class="fill" style="background-image:url('http://placekitten.com/1024/700');">
        <div class="container">

          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >ORGANIZE</p>
            <p class="landing_text_3 uppercase">Bookmarks &nbsp;  &#183; &nbsp;  Ideas &nbsp;  &#183; &nbsp;  Activities</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="/xroom"> <span class="link_spanner"></span></a>
            </div>

            <div class="landing_play_video">
              <a href="#"><span class="link_spanner"><span></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- 3-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384975885/landing-page-paris-blur-center.jpg');">
        <div class="container">
          
          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >DISCOVER</p>
            <p class="landing_text_3 uppercase">Trends &nbsp;  &#183; &nbsp;  Sites &nbsp;  &#183; &nbsp;  Stores</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="/xroom"> <span class="link_spanner"></span></a>
            </div>
            <div class="landing_play_video">
              <a href="#"><span class="link_spanner"><span></a>
            </div>


          </div>
          
        </div>
      </div>
    </div>
    <!-- 4-->
    <div class="item">
      <div class="fill" style="background-image:url('http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384975868/landing-page-urban-blur-center.jpg');">
        <div class="container">
          
          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >SHARE</p>
            <p class="landing_text_3 uppercase">Products &nbsp;  &#183; &nbsp;  Contents &nbsp;  &#183; &nbsp;  Designs</p><br>
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="/xroom"> <span class="link_spanner"></span></a>
            </div>
            <div class="landing_play_video">
              <a href="#"><span class="link_spanner"><span></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- 5-->
    <div class="item">
      <div class="fill" style="background-image:url('http://placekitten.com/900/600');">
        <div class="container">
          
          <div class="landing_slide_content">
            <p class="landing_text_1"> Your place to</p>
            <p class="landing_text_2" >CREATE</p>
            <p class="landing_text_3 ">a home on the web</p><br>
            
            <div class="blue_button landing_get_started">
              <span>GET STARTED</span>
              <a href="/xroom"> <span class="link_spanner"></span></a>
            </div>
            
            <div class="landing_play_video">
              <a href="#"><span class="link_spanner"><span></a>
            </div>          
          </div>
          
        </div>
      </div>
    </div>    
  </div>
  <div class="pull-center">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384913522/white-left-arrow.png"</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384913533/white-right-arrow.png"></a>
  </div>
</div>

<div class="landing_copyright">
  <span>&#169; Copyright 2014 Rooms Inc.</span>
</div>

  <script type="text/javascript">
  $('body > .container').addClass("fill landing_page_view")
  $('.carousel').carousel()
  </script>