<style>


</style>

<div class="pw_reset_content_wrap">

  <div class="pw_reset_logo">
    <span class="pw_logo_helper"></span>
    <% @static_content = StaticContent.find_by_name("mywebroom-logo-large")  %>
    <% if @static_content.nil? or @static_content.image_name.blank?  %>
        No static content found
    <% else %>
        <%= cl_image_tag(@static_content.image_name)%>
    <% end %>
  </div>

  <div class="pw_reset_form">
    <h4>Reset Your Password</h4>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
        <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :new_password%>
          <%= f.password_field :password %>
        </div>

        <div class="actions pw_reset_btn_wrap"><%= f.submit "Apply & Login" %></div>
    <% end %>
  </div>

</div>



