<h1>Listing themes</h1>

<%= link_to 'New Theme', new_theme_path %>


<table border="3" bordercolor="#c86260" bgcolor="#ffffcc" width="100%" cellspacing="2" cellpadding="3">
  <tr>
    <th>Theme Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.id %></td>
    <td><%= theme.name %></td>
    <td><%= theme.description %></td>
    <td><%= image_tag theme.image_name.url(:large).to_s %></td>


    <td><%= link_to 'Show', theme %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
    <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



<br />

