<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @theme.id %>
</p>

<p>
  <b>Name:</b>
  <%= @theme.name %>
</p>

<p>
  <b>Description:</b>
  <%= @theme.description %>
</p>

<p>
  <b>Image name:</b>
  <%= image_tag @theme.image_name.url %>
  <%= @theme.image_name.to_s %>
</p>
<p>
  <b>Image name selection:</b>
  <%= image_tag @theme.image_name_selection.url %>
  <%= @theme.image_name_selection.to_s %>
</p>



<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
