<h1>Listing bookmarks_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks_categories.each do |bookmarks_category| %>
  <tr>
    <td><%= bookmarks_category.name %></td>
    <td><%= bookmarks_category.item_id %></td>
    <td><%= link_to 'Show', bookmarks_category %></td>
    <td><%= link_to 'Edit', edit_bookmarks_category_path(bookmarks_category) %></td>
    <td><%= link_to 'Destroy', bookmarks_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmarks category', new_bookmarks_category_path %>
