<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bookmarks_category.name %>
</p>

<p>
  <b>Item:</b>

  <%  if @bookmarks_category.item.nil? %>
    <td></td>
    <td></td>

<%  else %>
    <td><%= @bookmarks_category.item.id %></td>
    <td><%= @bookmarks_category.item.name %></td>
<%  end %>


</p>


<%= link_to 'Edit', edit_bookmarks_category_path(@bookmarks_category) %> |
<%= link_to 'Back', bookmarks_categories_path %>
