<div class="profile_title_box" >
  MY PROFILE
</div>

<%= render 'users_profiles/profile_nav' %>



<div class="users_container">

   <div id=users_container_left>
        <%= form_for(@user) do |f|  %>

            <%= render 'shared/error_messages' %>

            <% unless current_user.provider == "facebook"%>
                <div class="field">
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                </div>
            <%end%>

            <div class="field">
                <%= f.label :username %>
                <%= f.text_field :username %>
            </div>
            <div class="actions">
                <%= f.submit "Save Changes",class: "blue_button blue_button_light" %>
            </div>
      <% end %>

  </div>
  <div id=users_container_right>

  </div>
</div>
<div class="clear"></div>