<div class="profile_title_box" >
  MY PROFILE
</div>

<%= render 'users_profiles/profile_nav' %>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f|  %>

        <%= render 'shared/error_messages' %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <label> please type you current password </label>
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Save changes",class: "btn btn-large btn-primary" %>
  <% end %>

  </div>
</div>