<div class="profile_title_box" >
  MY PROFILE
</div>


<%= render 'users_profiles/profile_nav' %>


<div class="users_container">

  <div id=users_container_left>

    <% unless current_user.provider == "facebook"%>

        <%= form_for @user, :url => users_update_password_path(params[:id]) do |f| %>
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="field">
              <%= f.label :new_password%>
              <%= f.password_field :password %>
            </div>
            <div class="actions">
              <%= f.submit "Save Changes",class: "blue_button blue_button_light" %>
            </div>

        <% end %>
    <%end%>
  </div>

</div>
<div class="clear"></div>



