<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>



<table border="3" bordercolor="#c86260" bgcolor="#ffffcc" width="100%" cellspacing="2" cellpadding="3">
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>UserName</th>


  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>

      </tr>
  <% end %>
</table>

<%= will_paginate %>


