<% provide(:title, 'Sign up') %>

<div class="session_container">
  <%= render 'shared/error_messages' %>

  <div class="session_container_main">

    <p id="session_login_text">Sign up </p>

    <%= link_to cl_image_tag("facebook-btn.png" , width: 360,height:52,:crop => :fit,:default_image => "default_image_all.png") , "/auth/facebook", id: "session_facebook_btn" %>

    <p id="session_or_text">OR</p>

     <%= form_for @user, :url => users_path(bundle_id:@bundle_id),:html => {:method => :post}   do |f| %>

        <div class="field">
          <%= f.text_field :email , :placeholder => "Email" , :id => "session_email_box"%>
        </div>
        <div class="field">
          <%= f.password_field :password , :placeholder => "Password", :id => "session_password_box"%>
        </div>

        <div class="actions">
          <%= f.submit "SIGN UP", class: "blue_button" %>
        </div>



    <% end %>


  </div>
</div>



