<% provide(:title, @user.name) %>
<h1>This is My room</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
        <%= gravatar_for @user %>
      </h1>

      <%= @user.name %>,</br>
      <%= @user.email %></br>
      <%= @user.username %></br>

    </section>
  </aside>


</div>

