<% provide(:title, @user.name) %>
<h1>This is my profile</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
        <%= image_tag @user.image_name.url().to_s,width: 100, height:100 %>
      </h1>

      <p>
        <b>Name:</b>
        <%= @user.name %>,</br>
      </p>
      <p>
        <b>Email:</b>
        <%= @user.email %></br>
      </p>
      <p>
        <b>User Name:</b>
        <%= @user.username %></br>
      </p>

    </section>
  </aside>


</div>

