<ul class="nav nav-tabs">
  <li>
    <%= link_to "OBJECTS", shop_index_path() %>
  </li>
  <li class="store-nav">
    <%= link_to "THEMES", shop_index_themes_path() %>
  </li>
  <li class="store-nav">
    <%= link_to "BUNDLES", shop_index_bundles_path() %>
  </li>
  <li class="store-nav">
    <%= link_to "ENTIRE ROOMS", shop_index_entire_rooms_path() %>
  </li>
  <li class="store-nav">
    <%= link_to "BOOKMARKS", shop_index_bookmarks_path() %>
  </li>
</ul>
