<div class="shop_container">
  <%= render 'shop_nav' %>

  <div class="shop_upper_container" data-shop-type="THEME">


    <a href="#" class="btn btn-primary shop_let_me_see_on_my_room_btn">Let me see it in my room</a>
    <a href="#" class="shop_fb_btn"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/c_fit,h_21,w_36/v1371241692/facebook.png"></a>
    <a href="#" class="shop_pinterest_btn"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"></a>


    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <div class="shop_left">
    <p>
      <%= image_tag @theme.image_name_selection.url.to_s , width: 300,height:300, :class =>'shop_image_name' %>
    </p>
  </div>
  <div class="shop_right">
    <br/>
    <br/>
    <br/>
    <h4 class="shop_name">
      <%= @theme.name %>
    </h4>
    <p>
      <b><%= @theme.brand.titlecase unless @theme.brand.nil? %></b>
    </p>
    <p class="shop_description">
      <%= @theme.description %>
    </p>

  </div>

</div>



<div class="shop_container">
  <div class="shop_table">
    <table>
      <% if @theme_length > 0 %>
          <% @themes_rand.in_groups_of(@theme_length,false).each do |theme_groups| %>
              <tr>
                <% theme_groups.each do |theme| %>
                    <td >
                      <%= link_to image_tag(theme.image_name_selection.url().to_s,:width => 200, :height => 200),
                                  shop_show_theme_path(theme.id,get_clean_name(theme.name)), :method => :get %>
                      </br><%= theme.name[0,15] %>
                    </td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>

</div>
