<div class="shop_container" xmlns="http://www.w3.org/1999/html">
  <%= render 'shop_nav' %>

  <div class="shop_upper_container" >


    <a href="#" class="btn btn-primary shop_let_me_see_on_my_room_btn">Let me see it in my room</a>
    <a href="#" class="shop_fb_btn"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/c_fit,h_21,w_36/v1371241692/facebook.png"></a>
    <a href="#" class="shop_pinterest_btn"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"></a>


    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <div class="shop_left">
    <p>
      <%= image_tag @items_design.image_name_selection.url.to_s , width: 300,height:300 %>
    </p>
  </div>
  <div class="shop_right">
    <br/>
    <br/>
    <br/>
    <h4>
      <%= @items_design.name %>
    </h4>
    <p>
      <%= @items_design.description %>
    </p>
    <a href="#" >See it in your room before you buy.</a>
    <br/>
    <br/>

    <a href="<%= @items_design.product_url %>#" target="_blank" class="btn btn-success">Buy at <%= @items_design.product_url %></a>
  </div>
</div>



<div class="shop_container">
    <div class="shop_table">
      <table>
        <% if @item_length > 0 %>
            <% @items_designs_rand.in_groups_of(@item_length,false).each do |items_design_groups| %>
                <tr>
                  <% items_design_groups.each do |items_design| %>
                      <td >
                        <%= link_to image_tag(items_design.image_name_selection.url().to_s,:width => 200, :height => 200),
                                    shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        </br><%= items_design.name[0,15] %>
                      </td>

                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>

</div>

<script type="text/javascript" charset="utf-8">

//    $( "#shop" ).click(function() {
//        alert( "Handler for .click() called." );
//    });

//$(document).ready(function() {

//    $('#shop').click(function(event){
//        alert('Hooray!');
//        event.preventDefault(); // Prevent link from following its href
//    });
//
//    function rooms_get_show(){
//        alert('Hooray!');
//    }
//
//    function addRow(){
//        alert('Hooray!');
//    }


//});

</script>
