<% provide(:title, 'Shop for Products') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="Discover and shop for clothing, furniture, decor, electronics, gifts, vacations and keep up with the trends!">
<% end %>


<div class="shop_container">
  <%= render 'shop_nav' %>
  <div class="shop_filter">
    <h5>Filter by </h5>
    <h5>Type  </h5>
    <% @items_by_type.each do |item| %>
        <%= link_to item.name,  shop_show_item_path(item.id,get_clean_name(item.name)), :method => :get %> </br>
    <% end %>

    <h5>Color  </h5>
    <% @items_designs_by_color.each do |item_color| %>
        <% unless item_color.color.nil? %>
            <%= link_to item_color.color.titleize,  shop_show_item_path(item_color.item_id,get_clean_name(item_color.item.name),item_color:item_color.color), :method => :get %> </br>
        <% end %>
    <% end %>


    <h5>Brand </h5>
    <% @items_designs_by_brand.each do |item_brand| %>
        <% unless item_brand.brand.nil? %>
            <%= link_to item_brand.brand.titleize,  shop_show_item_path(item_brand.item_id,get_clean_name(item_brand.item.name),item_brand: item_brand.brand), :method => :get %></br>
        <% end %>
    <% end %>


    <h5>Style </h5>
    <% @items_designs_by_style.each do |item_style| %>
        <% unless item_style.style.nil? %>
            <%= link_to item_style.style.titleize,  shop_show_item_path(item_style.item_id,get_clean_name(item_style.item.name),item_style: item_style.style), :method => :get %> </br>
        <% end %>
    <% end %>


    <h5>Make </h5>
    <% @items_designs_by_make.each do |item_make| %>
        <% unless item_make.make.nil? %>
            <%= link_to item_make.make.titleize,  shop_show_item_path(item_make.item_id,get_clean_name(item_make.item.name),item_make: item_make.make), :method => :get %> </br>
        <% end %>
    <% end %>

    <h5>Category </h5>
    <% @items_designs_by_category.each do |item_category| %>
        <% unless item_category.category.nil? %>
            <%= link_to item_category.category.titleize,  shop_show_item_path(item_category.item_id,get_clean_name(item_category.item.name),item_category: item_category.category), :method => :get %> </br>
        <% end %>
    <% end %>



  </div>

  <div class="shop_content_entity">
    <h4>
      <%= @items_designs.first.item.name%>
    </h4>

    <div class="shop_table">
      <table >

        <% if @item_length > 0 %>
            <%  @items_designs.in_groups_of(@item_length,false).each do |items_design_groups| %>
                <tr>
                  <% items_design_groups.each do |items_design| %>

                      <td >

                        <% if items_design.image_name_selection.blank?  %>
                            <%= link_to cl_image_tag("default_image_all.png", width: 200,height:200,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        <% else %>
                            <%= link_to cl_image_tag(items_design.image_name_selection , width: 200,height:200,:crop => :fit,:default_image => "default_image_all.png"),shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        <% end%>

                        </br>

                        <% if items_design.name.length > 25 %>
                            <%=  "#{items_design.name[0,25].strip}..." %>
                        <% else %>
                            <%=  "#{items_design.name[0,25]}" %>
                        <% end %>

                      </td>

                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>

  </div>
</div>
<div class="clear"></div>
<br/>



