<% provide(:title, 'Add this bookmark to your room') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="Add these bookmarks to your webroom interface adn discover even more content.">
<% end %>


<div class="shop_container">
  <%= render 'shop_nav' %>

  <div class="shop_container_box">

      <div class="shop_left">
        <div class="shop_upper_container" data-shop-type="<%= @entity_type %>">
          <%= link_to "Let me see it in my room", shop_forward_to_u_room_path(came_from:@came_from,entity_type:@entity_type,entity_id:@bookmark.id),:class => "blue_button blue_button_light"%>
          <a href="#" class="shop_fb_btn"><img src="//res.cloudinary.com/hpdnx5ayv/image/upload/h_20/v1389300404/facebook-share.png"></a>
          <a href="#" class="shop_pinterest_btn"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"></a>


        </div>


        <p class="shop_main_image_name_bookmark">
          <% if @bookmark.image_name_desc.blank?  %>
              <%= cl_image_tag("default_image_all.png", width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png", :class =>"shop_image_name" )%>
          <% else %>
              <%= cl_image_tag(@bookmark.image_name_desc , width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png", :class =>"shop_image_name" ) %>
          <% end%>


        </p>
      </div>
      <div class="shop_right">
        <br/>
        <br/>
        <br/>
        <p class="shop_name" >
          <%= @bookmark.title %>
        </p>
        <p class="shop_description">
          <%= @bookmark.description %>
        </p>
      </div>
  </div>
</div>
<div class="clear"></div>
<br/>


<br/>
<br/>
<br/>
<br/>
<br/>

<div class="shop_container">
  <div class="shop_related_items">
    Related Bookmarks
  </div>
  <div class="shop_table">
    <table>
      <% if @bookmark_length > 0 %>
          <% @bookmark_rand.in_groups_of(@bookmark_length,false).each do |bookmark_groups| %>
              <tr>
                <% bookmark_groups.each do |bookmark| %>
                    <td >

                      <% if bookmark.image_name_desc.blank?  %>
                          <%= link_to cl_image_tag("default_image_all.png", width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_bookmark_path(bookmark.id,get_clean_name(bookmark.title)), :method => :get %>
                      <% else %>
                          <%= link_to cl_image_tag(bookmark.image_name_desc , width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_bookmark_path(bookmark.id,get_clean_name(bookmark.title)), :method => :get %>
                      <% end%>



                      </br><%= bookmark.title[0,15] %>
                    </td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>

</div>
