<div class="shop_container">
  <div class="shop_left">
    <p>
      <%= image_tag @items_design.image_name_selection.url.to_s , width: 300,height:300 %>
    </p>
  </div>
  <div class="shop_right">
    <br/>
    <br/>
    <br/>
    <h4>
      <%= @items_design.name %>
    </h4>
    <p>
      <%= @items_design.description %>
    </p>
  </div>
</div>



<div class="shop_container">
    <div class="shop_table">
      <table>
        <% if @item_length > 0 %>
            <% @items_designs_rand.in_groups_of(@item_length,false).each do |items_design_groups| %>
                <tr>
                  <% items_design_groups.each do |items_design| %>
                      <td >
                        <%= link_to image_tag(items_design.image_name_selection.url().to_s,:width => 200, :height => 200),
                                    shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        </br><%= items_design.name[0,15] %>
                      </td>

                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>

</div>
