<div class="shop_container">
  <%= render 'shop_nav' %>

  <div class="shop_container_box">

    <div class="shop_left">

      <div class="shop_upper_container" data-shop-type="<%= @entity_type %>">
        <%= link_to "Let me see it in my room", shop_forward_to_u_room_path(came_from:@came_from,entity_type:@entity_type,entity_id:@items_design.id),:class => "blue_button blue_button_light"%>
        <a href="#" class="shop_fb_btn"><img src="http://res.cloudinary.com/hpdnx5ayv/image/upload/c_fit,h_21,w_36/v1371241692/facebook.png"></a>
        <a href="#" class="shop_pinterest_btn"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"></a>
      </div>


      <p class="shop_main_image_name">
          <% if @items_design.image_name_selection.blank?  %>
              <%= cl_image_tag("default_image_all.png", width: 400,height:400,:crop => :fit,:default_image => "default_image_all.png")%>
          <% else %>
              <%= cl_image_tag(@items_design.image_name_selection , width: 400,height:400,:crop => :fit,:default_image => "default_image_all.png") %>
          <% end%>

        </p>
      </div>
      <div class="shop_right">
        <p>
          <% if @items_design.company.nil?  %>
          <% else %>
             <% if @items_design.company.image_name.blank?  %>
                <% else %>
                     <%= cl_image_tag(@items_design.company.image_name , width: 300,height:100,:crop => :fit,:default_image => "default_image_all.png") %>
                <% end%>
          <% end%>
        </p>
        <br/>
        <p class="shop_name" >
          <%= @items_design.name %>
        </p>
        <p class="brand_name">
          <b><%= @items_design.brand.titlecase unless @items_design.brand.nil? %></b>
        </p>

        <p class="shop_description">
          <%= @items_design.description[0,490] %>
        </p>
        <% @static_content = StaticContent.find_by_name("publicstore-icon")  %>
        <% if @static_content.nil? or @static_content.image_name.blank?  %>

        <% else %>

            <%= link_to cl_image_tag(@static_content.image_name,
                                     :transformation => { :width => 80, :height => 72, :x => 40, :y => 0, :crop => :crop },
                                     :width => 30, :height => 15, :crop => :fill)+
                                "See it in your room before you buy.",
                        shop_forward_to_u_room_path(came_from:@came_from,entity_type:@entity_type,entity_id:@items_design.id),
                        :id => "shop_see_it_in_your_room_before_you_buy"%>
        <% end %>
        <br/>
        <br/>

        <form>
          <input type="button" id="shop_green_button1" class="green_button green_button_light"
                 value="Buy at <%=@items_design_btn_url_name.to_s%>"

                 onclick="window.location.href='<%=@items_design.product_url%>'">
        </form>


        <div id="shop_btn_container">
        <a id="shop_green_button" class="green_button green_button_light" href="#">
          <%= cl_image_tag(@static_content.image_name,
                           :transformation => { :width => 80, :height => 72, :x => 40, :y => 0, :crop => :crop },
                           :width => 30, :height => 15, :crop => :fill)%>
          Cancel</a>
        </div>



      </div>

  </div>
</div>
<div class="clear"></div>
<br/>


<div class="shop_container">
    <div class="shop_related_items">
      Related Objects
    </div>
    <div class="shop_table">
      <table>
        <% if @item_length > 0 %>
            <% @items_designs_rand.in_groups_of(@item_length,false).each do |items_design_groups| %>
                <tr>
                  <% items_design_groups.each do |items_design| %>
                      <td >
                        <% if items_design.image_name_selection.blank?  %>
                            <%= link_to cl_image_tag("default_image_all.png", width: 200,height:200,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        <% else %>
                            <%= link_to cl_image_tag(items_design.image_name_selection , width: 200,height:200,:crop => :fit,:default_image => "default_image_all.png"),shop_show_items_design_path(items_design.id,get_clean_name(items_design.name)), :method => :get %>
                        <% end%>


                        </br><%= items_design.name[0,15] %>
                      </td>

                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>

</div>

