<h1>Select bundle</h1>



<table class="table table-bordered">
  <tr>
    <th>Bundles Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Bundle Image name</th>
    <th>Bundle Image name Set</th>

    <th>Theme id</th>
    <th>Theme name</th>
    <th>Theme image name</th>

    <th>Section id</th>
    <th>Section name</th>

    <th></th>
  </tr>

  <% @bundles.each do |bundle| %>
      <tr>

        <td><%= bundle.id %></td>
        <td><%= bundle.name %></td>
        <td><%= bundle.description %></td>
        <td>

          <% if bundle.image_name.blank?  %>
              <%= cl_image_tag "default_image_all.png",width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
          <% else %>
              <%= cl_image_tag bundle.image_name,width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
          <% end %>



        </td>
        <td>

          <% if bundle.image_name_set.blank?  %>
              <%= cl_image_tag "default_image_all.png",width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
          <% else %>
              <%= cl_image_tag bundle.image_name_set,width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
          <% end %>


        </td>


        <%  if bundle.theme.nil? %>
            <td></td>
            <td></td>
            <td></td>
        <%  else %>
            <td><%= bundle.theme.id %></td>
            <td><%= bundle.theme.name %></td>
            <td>
              <% if bundle.theme.image_name.blank?  %>
                  <%= cl_image_tag "default_image_all.png",width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
              <% else %>
                  <%= cl_image_tag bundle.theme.image_name,width:100 , height:100,:crop => :fit,:default_image => "default_image_all.png" %>
              <% end %>



            </td>

        <%  end %>

        <%  if bundle.section.nil? %>
            <td></td>
            <td></td>
        <%  else %>
            <td><%= bundle.section.id %></td>
            <td><%= bundle.section.name %></td>
        <%  end %>
        <td><%= link_to 'Select Bundle',  index_items_location_selection_path(bundle.id,bundle.section.id), :method => :get %></td>


      </tr>
  <% end %>
</table>


<br />


