<div id="c" > Loading rooms... waiting for backbone :) ...


</div>

        <% provide(:title, @user.username) %>
        <h1>This is My room on RoR</h1>
        <div class="row">
          <aside class="span4">
            <section>
              <h1>
                <%= @user.username %>
              </h1>

              name: <%= @user.id %>,</br>
              name: <%= @user.username %>,</br>
              email:  <%= @user.email %></br>
              username: <%= @user.username %></br>

            </section>
          </aside>
        </div>


