<% provide(:title, 'Select a room design') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="Select a room you would like to use to start discovering the web from.">
<% end %>



<div id="xroom_entire_room_container">
    <header class="navbar navbar-fixed-top navbar-inverse" >
        <div class="navbar-inner" >


            <% if @static_content_logo.nil? or @static_content_logo.image_name.blank?   %>
            <% else %>
                <%= link_to cl_image_tag(@static_content_logo.image_name, :width => 112, :height => 32, :alt => "my web room logo" ), root_path , class:"brand",id:  "xroom_logo"  %>
            <% end %>

          <ul class="nav pull-right" >
            <li> <%= link_to_function "Login", "javascript:login_lightbox_show()",:class => "gray_button_light gray_button", :id => "login_btn"%></li>
          </ul>

        </div>
    </header>

        <div>

            <div id="xroom_entire_room_background">
                <% if @bundle.theme.image_name.blank?  %>
                <% else %>
                    <%= cl_image_tag @bundle.image_name_entire_room ,:quality => 80, :default_image => "default_image_all.png", :alt => "enrire room"  %>
                <% end %>
            </div>
            <div id="xroom_entire_room_left" style="background-image: url('<%= @arrows_image %>')" >
              <%= link_to "", xroom_rooms_path(bundle_id:@bundle.id,moving_toward:'prev'), :method => :get, class:'xroom_entire_room_right_fill-div' %>
            </div>

            <div id="xroom_entire_room_right" style="background-image: url('<%= @arrows_image %>')" >
              <%= link_to "", xroom_rooms_path(bundle_id:@bundle.id,moving_toward:'next'), :method => :get, class:'xroom_entire_room_right_fill-div' %>
            </div>


          <div id="xroom_entire_room_btn">
            <%= link_to_function "Click here to use this Room", "javascript:signup_lightbox_show()",:class => "blue_button blue_button_light", :id => "xroom_entire_room_btn_blue"%>
          </div>


        </div>
</div>

<script>

//        $(function() {
//            //console.log('center room on the tutorial');
//            var document_width = $(document).width();
//            var window_width = $(window).width();
//            var percent = 0.44;
//            var width_percent = document_width - window_width;
//            width_percent = width_percent * percent;
//            window.scrollTo(width_percent, 0);
//        });


</script>

