<h1>Listing items</h1>

<h3>
  <%= link_to 'New Item', new_item_path %>
</h3>


<table border="3" bordercolor="#c86260" bgcolor="#ffffcc" width="50%" cellspacing="2" cellpadding="3">

  <tr>
    <th>Item Id</th>
    <th>Name</th>
    <th>Clickable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>

    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.clickable %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />


