<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @items_design.name %>
</p>

<p>
  <b>Description:</b>
  <%= @items_design.description %>
</p>

<p>
  <b>Item:</b>

  <%  if @items_design.item.nil? %>
    
    
<%  else %>
    <%= @items_design.item_id %>
    <%= @items_design.item.name %>

<%  end %>


</p>

<p>
  <b>Bundle:</b>
  <%  if @items_design.bundle.nil? %>
    
    
    
<%  else %>
    <%= @items_design.bundle.id  %>
    <%= @items_design.bundle.name  %>
     <%= image_tag @items_design.bundle.image_name.url(:small).to_s %> 
<%  end %>

</p>

<p>
  <b>Image name:</b>
  <%= @items_design.image_name %>
  <%= image_tag @items_design.image_name.url.to_s %>
</p>

<p>
  <b>Image name hover:</b>
  <%= @items_design.image_name_hover %>
  <%= image_tag @items_design.image_name_hover.url.to_s %>
</p>
<p>
  <b>Image name selection:</b>
  <%= @items_design.image_name_selection %>
  <%= image_tag @items_design.image_name_selection.url.to_s %>
</p>





<%= link_to 'Edit', edit_items_design_path(@items_design) %> |
<%= link_to 'Back', items_designs_path %>
