<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @items_design.name %>
</p>

<p>
  <b>Description:</b>
  <%= @items_design.description %>
</p>

<p>
  <b>Item:</b>
  <%= @items_design.item_id %>
</p>

<p>
  <b>Bundle:</b>
  <%= @items_design.bundle_id %>
</p>

<p>
  <b>Image name:</b>
  <%= @items_design.image_name %>
  <%= image_tag @items_design.image_name.url %>
</p>

<p>
  <b>Image name hover:</b>
  <%= @items_design.image_name_hover %>
  <%= image_tag @items_design.image_name_hover.url %>
</p>
<p>
  <b>Image name selection:</b>
  <%= @items_design.image_name_selection %>
  <%= image_tag @items_design.image_name_selection.url %>
</p>





<%= link_to 'Edit', edit_items_design_path(@items_design) %> |
<%= link_to 'Back', items_designs_path %>
