<h1>Listing bundles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Theme</th>
    <th>Image name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bundles.each do |bundle| %>
  <tr>
    <td><%= bundle.name %></td>
    <td><%= bundle.description %></td>
    <td><%= bundle.theme_id %></td>
    <td> <%= image_tag bundle.image_name.url(:small) %> </td>
    <td><%= link_to 'Show', bundle %></td>
    <td><%= link_to 'Edit', edit_bundle_path(bundle) %></td>
    <td><%= link_to 'Destroy', bundle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bundle', new_bundle_path %>
