<h1>Listing bundles</h1>

<%= link_to 'New Bundle', new_bundle_path %>

<table border="3" bordercolor="#c86260" bgcolor="#ffffcc" width="100%" cellspacing="2" cellpadding="3">
  <tr>
    <th>Bundles Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Bundle Image name</th>
    <th>Bundle Image name Set</th>

    <th>Theme id</th>
    <th>Theme name</th>
    <th>Theme image name</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bundles.each do |bundle| %>
  <tr>
    <td><%= bundle.id %></td>
    <td><%= bundle.name %></td>
    <td><%= bundle.description %></td>
    <td> <%= image_tag bundle.image_name.url().to_s ,width: 100, height:100 %> </td>
    <td> <%= image_tag bundle.image_name_set.url().to_s ,width: 100, height:100 %> </td>


    <%  if bundle.theme.nil? %>
        <td></td>
        <td></td>
        <td></td>
    <%  else %>
        <td><%= bundle.theme.id %></td>
        <td><%= bundle.theme.name %></td>
        <td> <%= image_tag bundle.theme.image_name.url().to_s ,width: 100, height:100 %> </td>

    <%  end %>



    <td><%= link_to 'Show', bundle %></td>
    <td><%= link_to 'Edit', edit_bundle_path(bundle) %></td>
    <td><%= link_to 'Destroy', bundle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />


