<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @bundle.id %>
</p>

<p>
  <b>Name:</b>
  <%= @bundle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bundle.description %>
</p>

<p>
  <b>Theme:</b>
    <%  if @bundle.theme.nil? %>
    <td></td>
    <td></td>
    <td></td>
<%  else %>
    <td><%= @bundle.theme.id %></td>
    <td><%= @bundle.theme.name %></td>
    <td> <%= image_tag @bundle.theme.image_name.url(:small).to_s %> </td>

<%  end %>


</p>

<p>
  <b>Image name:</b>
  <%= image_tag @bundle.image_name.url.to_s %>
  <%= @bundle.image_name.to_s %>
</p>


<%= link_to 'Edit', edit_bundle_path(@bundle) %> |
<%= link_to 'Back', bundles_path %>
