<div class="users_photos_header">
    <h1>PHOTO UPLOAD</h1>
</div>
<div class="new_users_photo_wrap">
<%= form_for(@users_photo, url: create_users_photos_by_user_id_path(@users_photo.user_id),:html => {:multipart => true}) do |f| %>
    <% if @users_photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@users_photo.errors.count, "error") %> prohibited this users_photo from being saved:</h2>

          <ul>
            <% @users_photo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label "Image Description" %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <br />
      <%= f.file_field :image_name %>
      <br />
    </div>


    <div class="actions">
      <br />
      <%= f.submit "Upload Photo" %>
    </div>
<% end %>
</div>
