

<div id="login_lightbox">

  <% @static_content_x_img = StaticContent.find_by_name("x-btn-sml")  %>
  <% if @static_content_x_img.nil? or @static_content_x_img.image_name.blank?   %>
      <%= link_to_function "X", 'javascript:login_lightbox_hide()'  %>
  <% else %>
      <%= link_to_function cl_image_tag(@static_content_x_img.image_name,
                                        :transformation => { :width => 150, :height => 50, :x => -90, :y => 0, :crop => :crop },
                                        :width => 40, :height => 40, :crop => :fill
                           ), 'javascript:login_lightbox_hide()'  %>
  <% end %>




  <p id="login_lightbox_login_text">Login</p>

    <%= link_to cl_image_tag("facebook-btn.png" , width: 360,height:52,:crop => :fit,:default_image => "default_image_all.png") , "/auth/facebook", id: "login_lightbox_facebook_btn" %>

    <p id="login_lightbox_or_text">OR</p>


    <%= form_for(:session, url: sessions_path) do |f| %>

        <div class="field">
          <%= f.text_field :email , :placeholder => "Email" , :id => "login_lightbox_email_box"%>
        </div>
        <div class="field">
          <%= f.password_field :password , :placeholder => "Password", :id => "login_lightbox_password_box"%>
        </div>
        <div class="actions">
          <%= f.submit "LOGIN", class: "blue_button" %>
        </div>
        <p><%= link_to "Forgot Password?", new_password_reset_path , :id => "login_lightbox_forgot_password" %></p>
    <% end %>



  </div>
